ul{
    margin: 0;
    padding :0%;
    list-style: none;
    height: 40px;
    line-height: 40px;
    background-color: rgb(68, 66, 66);
    
}
li{
    float: left;
    border-right: 1px solid rgb(173, 173, 214) ;
    
    
}
a{
    display: block;
    padding: 0 30px;
    text-decoration: none;
    color: gray;
}
a:hover{
    background-color: indigo;
}
.text h1{
    font-size: 50px;
    color: rgb(90, 89, 89);}
span{
    color: rgb(230, 97, 9);
}
.first-section{
    display: flex;
    padding right: 10px;
    padding top: 40px;
}
}
.img{
    padding-top: 30px;
    margin-top: 600px;
    width: 10px
}
.text{
    width: 70%;
    margin-left: 45px;
    padding-top: 30px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 157, 11), rgb(243, 135, 116));
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: 700;
    color: white;
}
strong{
    color: rgb(168, 166, 166);
}
.second-section{
    display: flex;
    padding: 0px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    width: 100%;
}
.nd-img{
    padding-top: 15px;
    margin: 80px;
    width: 80%;
}
.nd-text{
    margin-top: 100px;
    width: 100%;
}
.nd-link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 157, 11), rgb(243, 135, 116));
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: 700;
    color: white;
}
.nd-text p{
    color: gray;
}
h2{
    font-size: 35px;
    color: grey;
}
.recipe-headline{
    font-size: 30px;
    text-align: center;
    color:gray
}
#text{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-size: 18px;
    color: rgb(66, 64, 64);
}
.third-section{
    display: flex;
    padding-top: 3%;
}.pic1{
    width: 90%;
    padding: 10px;
}
.recipe{
    box-shadow: 10px 10px 50px gray;
    width: 33%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
}
.recipe h1{
    padding: 10px;
    color: rgb(48, 45, 45);
}
.recipe p{
    padding: 10px;
    color: rgb(129, 120, 120);
}
footer{
    text-align: center;
    background-color: rgb(36, 35, 35);
    color: gray;
    padding: 5px;
    margin-top: 5%;
    padding-bottom: 7%;
}